* {
    box-sizing: border-box;
}

body{
    align-items: center;
    background-color: seashell;
    display: flex;
    font-family: Arial, sans-serif;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

.container{
    background-color: #fff;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 500px;
    border-radius: 8px;
    overflow: hidden;
}

.kuis-header{
    padding:4rem;
}

h2{
    margin : 0;
}

ul{
    list-style-type: none;
    padding: 0;
}

ul li{
    margin:1rem 0;
    font-size: 1.2rem;
}

ul li label{
    cursor: pointer;
}

button{
    background-color:blueviolet;
    border: none;
    color:white;
    cursor: pointer;
    font-family:inherit;
    font-size: 1.1rem;
    display:block;
    width:100%;
    padding:1rem;
}

button:hover{
    background-color:rgb(66, 11, 117);
}