* {
    box-sizing: border-box;
}

body{
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1578149337472-5359e1e73863?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    min-height: 100vh;   
    justify-content: center;
}

h1{
    font-size: 1.7rem;
    margin-top: -10rem;
    margin-bottom: 4rem;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.textbesar{
    font-size:2rem;
    line-height: 1;
    font-weight: bold;
    margin: 1rem 2.5rem;  
}

.counter-el{
    text-align: center;
}

.counter-el span{
    font-size: 1rem;
}